@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body{
  margin: 0 auto;
  /*background-color: #555;*/
  font-family: 'Open Sans','sans-serif';
  text-align: justify;
  font-weight: lighter;
  color: #fff;
}

h1{
  font-weight: lighter;
  letter-spacing: 1px;
}

h1>span{
  font-weight: bold;
}

#nombre_canal{
  text-align: center;
  font-size: 50px;
  color: #555;
}

#item{
  margin: 0 auto;
  width: 100%;
}

#yt_snippet{
  float:left;
  width: 50%;
}

#yt_snippet img{
  display: inline-block;
  margin-left:60%;
  border-radius:25px;
  transition:margin-left 1s;
  -moz-transition:margin-left 1s;
  -ms-transition:margin-left 1s;
  -webkit-transition:margin-left 1s;
  -o-transition:margin-left 1s;
}

#yt_statistics{
  float: left;
  width:50%;
  transition:float 1s;
  -moz-transition:float 1s;
  -ms-transition:float 1s;
  -webkit-transition:float 1s;
  -o-transition:float 1s;

  transition:font-size 1s;
  -moz-transition:font-size 1s;
  -ms-transition:font-size 1s;
  -webkit-transition:font-size 1s;
  -o-transition:font-size 1s;

}

#subscriptores,#visitas,#videos{
  background-color: #41bbff;
  box-shadow: 0px 3px 1px rgba(108, 108, 108, 0.3);
  width: 400px;
  padding: 5px;
}

#creditos{
  position: fixed;
  bottom: 0;
  text-align: center;
  /*margin-bottom: 0px;*/
  padding-bottom: 2px;
  width: 100%;
  color: #dedede;
  text-shadow: 0px 1px 1px rgba(204, 204, 204, 0.74);
  background-color: #fff;
}

#creditos a{
  text-decoration: none;
  color: #dedede;
  cursor: pointer;

}

 #creditos a:hover{
  color: #9f9f9f;
}

@media screen and (max-width:1230px){
  #yt_snippet img{
    margin-left:50%;
  }
}

@media screen and (max-width: 1024px) {
  #nombre_canal{
    font-size: 40px;
  }

  #yt_snippet{
    float: none;
    display: block;
    width: 100%;
  }
  #yt_snippet img{
    position: static;
    display: block;
    margin: 0 auto;
    border-radius:25px;
  }
  #yt_statistics{
    float: none;
    clear: both;
    margin: 0 auto;
    width: 50%;
    font-size: 0.9em;
    text-align: center;
    transition:width 1s;
    -moz-transition:width 1s;
    -ms-transition:width 1s;
    -webkit-transition:width 1s;
    -o-transition:width 1s;
  }

  #subscriptores,#visitas,#videos{
    padding: 0px 5px;
    width: 100%;
  }
}

@media screen and (max-width: 600px){
  #nombre_canal{
    font-size: 30px;
  }

  #yt_statistics{
    width: 50%;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 495px) {
  #yt_statistics{
    width: 90%;
    margin: 0 auto;
    font-size: 0.7em;
  }
}
